
h1 {
      margin-bottom: 0.375rem;
      font-family: 'Rebond Grotesque', Helvetica, Arial, sans-serif;
      font-feature-settings: 'ss04';
      font-size: 2.0rem;
      font-weight: 200;
      line-height: 1.125;
      text-align: center;
}

.uname-author {
      text-align:center;
      font-size: 0.8rem;
      font-weight: 50;
      font-family: 'Rebond Grotesque', Helvetica, Arial, sans-serif;
}

.updated {
      text-align:center;
      font-size: 0.75rem;
      font-weight: 50;
      font-family: 'Rebond Grotesque', Helvetica, Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: orange;
  border-radius: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: brown;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}


.topnav form.d-flex {
  float: none;
  text-align: left;
  width: 40%;
  padding: 5px;
  margin-top: 0;
  margin-left: 600px;
}

.topnav a.active {
  margin-left: 0;
  margin-right: auto;
  background: brown;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  height: 16px;
  width: 300px;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 15px;
}

@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 12px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 70%;
}

p {
  font-family: 'Caveat', cursive;
}
