
h1 {
      margin-bottom: 0.375rem;
      font-family: 'Rebond Grotesque', Helvetica, Arial, sans-serif;
      font-feature-settings: 'ss04';
      font-size: 2.0rem;
      font-weight: 200;
      line-height: 1.125;
      text-align: center;
}

.uname-author {
      text-align:center;
      font-size: 0.8rem;
      font-weight: 50;
      font-family: 'Rebond Grotesque', Helvetica, Arial, sans-serif;
}

.updated {
      text-align:center;
      font-size: 0.65rem;
      font-weight: 40;
      font-family: 'Rebond Grotesque', Helvetica, Arial, sans-serif;
}

.topnav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  background: orange;
  border-radius: 20px;
}

.topnav a {
  float: left;
  display: block;
  color: brown;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a.active {
  margin-left: 0;
  margin-right: auto;
  background: brown;
}
.topnav form.d-flex {
  float: none;
  text-align: left;
  width: 40%;
  padding: 5px;
  margin-top: 0;
  margin-left: 600px;
}

.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  height: 16px;
  width: 300px;
  margin-top: 20px;
  margin-right: 16px;
  font-size: 15px;
}



  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}


.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  width: 70%;
}

p {
  font-family: 'Caveat', cursive;
}
.input{
border:40px;
border-color:coral;
}
//COBA RATING
.rating {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 50px;
}

.rating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.rating label:last-child {
  position: static;
}

.rating label:nth-child(1) {
  z-index: 5;
}

.rating label:nth-child(2) {
  z-index: 4;
}

.rating label:nth-child(3) {
  z-index: 3;
}

.rating label:nth-child(4) {
  z-index: 2;
}

.rating label:nth-child(5) {
  z-index: 1;
}

.rating label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating label .icon {
  float: left;
  color: transparent;
}

.rating label:last-child .icon {
  color: #000;
}

.rating:not(:hover) label input:checked ~ .icon,
.rating:hover label:hover input ~ .icon {
  color: #09f;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
  color: #000;
  text-shadow: 0 0 5px #09f;
}
//