<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="" th:href="@{/css/create/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"  integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Create Recipe - Cooking Mama</title>

</head>
<header>
    <div class="topnav">
        <a class="active" href="" th:href="@{/home}"><img th:src="@{/images/cookma.png}" width="150" height="35"></a>
        <div class="container-fluid">
            <a class="navbar-brand">Create Recipe</a>
            <form class="d-flex">
                <input class="form-control mr-3 mt-3" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-success mt-3 mr-2 pt-2" type="submit">Search</button>
            </form>
            <!--            <input type="text" placeholder="Search..">-->
        </div>
        <a th:text="${authorEdit}"></a></div>
    </div>

</header>
<body>

<div class="container min-vh-100 d-flex aligns-items-center justify-content-center create-form" >
    <form class="w-75 pt-3 p-3" method="post" th:action="@{/createRecipe}" th:object="${newRecipe}" name="createRecipe">
        <div class="row mb-3 align-items-center">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Recipe Name</label>
            <div class="col-sm-10">
                <input type="text" name="name" th:field="*{name}" class="form-control" id="inputEmail3"/>
<!--                <input type="text" class="form-control" id="inputEmail3" th:field="*{}">-->
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlTextarea1" class="col-sm-2 col-form-label">Ingredient</label>
            <div class="col-sm-10">
<!--                <input type="text" class="form-control" id="inputPassword4">-->
                <textarea class="form-control" name="ingredients" id="exampleFormControlTextarea1" rows="3"  th:field="*{ingredients}"></textarea>
<!--                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" th:field="*{}"></textarea>-->
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlTextarea2" class="col-sm-2 col-form-label">How to cook</label>
            <div class="col-sm-10">
<!--                <input type="textarea" class="form-control" id="inputPassword3">-->
                <textarea class="form-control" name="howto" id="exampleFormControlTextarea2" rows="3"  th:field="*{howto}"></textarea>
<!--                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" th:field="*{}"></textarea>-->
            </div>
        </div>
        <div class="row mb-3">
            <label for="exampleFormControlTextarea4" class="col-sm-2 col-form-label">User ID</label>
            <div class="col-sm-10">
                <!--                <input type="textarea" class="form-control" id="inputPassword3">-->
                <input class="form-control" name="userid" id="exampleFormControlTextarea4" rows="3"  th:field="*{userid}"/>
                <!--                <textarea class="form-control" id="exampleFormControlTextarea2" rows="3" th:field="*{}"></textarea>-->
            </div>
        </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Author</label>
            <div class="col-sm-10">
<!--                <h4 id="staticEmail" name="userid" th:text="${author}"></h4>-->
                <h4 id="staticEmail" name="userid" th:text="${author}"></h4>
            </div>
        </div>
<!--        <div class="row mb-3 align-items-center ">-->
<!--            <label for="formFile" class="col-sm-2 col-form-label">Image</label>-->
<!--            <div class="col-sm-10">-->
<!--                <input class="form-control" type="file" id="formFile">-->
<!--            </div>-->

<!--        </div>-->
        <fieldset class="row mb-3">
            <legend class="col-form-label col-sm-2 pt-0">Choose Audience</legend>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" th:field="*{publik}" type="radio" name="gridRadios" id="gridRadios1" th:value="false" checked>
                    <label class="form-check-label" for="gridRadios1">
                        Private
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" th:field="*{publik}" name="gridRadios" id="gridRadios2" th:value="true">
                    <label class="form-check-label" for="gridRadios2">
                        Public
                    </label>
                </div>
<!--                <div class="form-check disabled">-->
<!--                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>-->
<!--                    <label class="form-check-label" for="gridRadios3">-->
<!--                        Third disabled radio-->
<!--                    </label>-->
<!--                </div>-->
            </div>
        </fieldset>
<!--        <div class="row mb-3">-->
<!--            <div class="col-sm-10 offset-sm-2">-->
<!--                <div class="form-check">-->
<!--                    <input class="form-check-input" type="checkbox" id="gridCheck1">-->
<!--                    <label class="form-check-label" for="gridCheck1">-->
<!--                        Example checkbox-->
<!--                    </label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <button type="submit" class="btn btn-primary" onclick="window.location.href='/home'">Save</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>